<div class="head">Дарья Теплова</div>

<div class="backimage">
  <div class="blockborder">
    <p class="texthead">Тут будет текст обо мне</p>
    <p class="text">
      Равным образом консультация с широким активом позволяет оценить значение
      дальнейших направлений развития. Товарищи! дальнейшее развитие различных
      форм деятельности обеспечивает широкому кругу (специалистов) участие в
      формировании новых предложений. Товарищи! начало повседневной работы по
      формированию позиции влечет за собой процесс внедрения и модернизации
      направлений прогрессивного развития.
    </p>
    <details class="text">
      <summary class="spoiler">Читать далее</summary>
      По своей сути рыбатекст является альтернативой традиционному lorem ipsum,
      который вызывает у некторых людей недоумение при попытках прочитать рыбу
      текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит
      любой макет непонятным смыслом и придаст неповторимый колорит советских
      времен.
    </details>
  </div>

  <div class="blockborder">
    <p class="texthead">Музыка, написанная мной</p>
    <p class="text">
      Равным образом консультация с широким активом позволяет оценить значение
      дальнейших направлений развития. Товарищи! дальнейшее развитие различных
      форм деятельности обеспечивает широкому кругу (специалистов) участие в
      формировании новых предложений. Товарищи! начало повседневной работы по
      формированию позиции влечет за собой процесс внедрения и модернизации
      направлений прогрессивного развития.
    </p>
  </div>

  <div class="blockborder">
    <p class="texthead">Галерея-слайдер моих картин</p>
    <app-ngb-carousel></app-ngb-carousel>
  </div>

  <app-picsgallery></app-picsgallery>
</div>
