<div class="frontwrite">
  <p>Здравствуй, гость!</p>
  <p>Ты забрел на сайт Дарьи Тепловой.</p>
</div>

<div class="centerblock">
  <img class="pics" src="assets/img/front.jpg" alt="daria" />
</div>

<div class="frontwrite">
  <p>Какая версия Дарьи тебя интересует?</p>
</div>

<div class="centerblock">
  <div class="frontblock">
    <a class="frontblock" href="/tech">Техническая</a>
  </div>

  <div class="frontblock">
    <a class="frontblock" href="/arts">Творческая</a>
  </div>

  <div class="frontblock">
    <a class="frontblock" href="/home">Home edition</a>
  </div>

  <div class="frontblock">
    <a class="frontblock" href="/noexit">Пасип, я пошел</a>
  </div>
</div>
