<div class=head>Дарья Теплова</div>

<div class="backimage">
<div class=blockborder>
    <p class=texthead>Летопись</p>
    <p class=text>Равным образом консультация с широким активом позволяет оценить значение дальнейших направлений развития. Товарищи! дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.</p>
    <details class=text>
        <summary class="spoiler">Читать далее</summary>
        По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
      </details>
</div>

<div class=blockborder>
    <p class=texthead>Список некоторых моих желаний</p>

    <div class=text>
    <p>* УЗакончить Бауманский с красным дипломом</p>
    <p>* Поиграть в "Что? Где? Когда?"</p>
    <p>* Поучаствовать в чемпионате по шахматам</p>
    <p>* Увидеть Нью-Йорк своими глазами</p>
    <p>* Устроть арт-экспедицию по Питеру с ночевкой в форте Кронштадта</p>
    <p>* Попутешествовать по Японии</p>
    </div>

    <div class=text1>
    <p>* Поступить в Бауманский</p>
    <p>* Выступить с концертом в Питере</p>
    <p>* Заплести дреды</p>
    </div>

</div>
Тут нужны слайдеры-компоненты
